@model CRMProject.Models.Address  

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Address Information</h4>
    </div>
    <div class="panel-body scrollable-panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary) 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Province)
                    </th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Address" asp-route-ID="@Model.ID">
                            @Html.DisplayFor(modelItem => Model.Summary)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AddressCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Province)
                    </td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .scrollable-panel {
        max-height: 400px; /* Adjust based on your need */
        overflow-y: auto;
    }
</style>
