@model CRMProject.Models.Member

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details - " + Model?.MemberName;
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div>
                <h1>Member Information</h1>
                <hr />
                @{
                    if (Model.MemberPhoto?.Content != null)
                    {
                        @:<div>
                            string imageBase64 = Convert.ToBase64String(Model.MemberPhoto.Content);
                            string imageSrc = string.Format("data:" + Model.MemberPhoto.MimeType + ";base64,{0}", imageBase64);
                            <img src="@imageSrc" alt="Profile Picture of @Model.Summary" title="Profile Picture of @Model.Summary" class="img-fluid rounded" />
                        @:</div><hr />
                    }
                }

                <dl class="row">
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberName)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.MemberName)</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberSize)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.MemberSize)</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberStatus)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.MemberStatus)</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberAccountsPayableEmail)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.MemberAccountsPayableEmail)</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberStartDate)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.MemberStartDate, "{0:yyyy-MM-dd}")</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberEndDate)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.MemberEndDate, "{0:yyyy-MM-dd}")</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MemberNotes)</dt>
                    <dd class="col-sm-10">
                        <textarea class="form-control" readonly>@Model.MemberNotes</textarea>
                    </dd>
                </dl>


            </div>
        </div>
    </div>
    <div class="mt-4">
        <h2>Contact Information</h2>
        <hr />
        @Html.Partial("_ListOfContacts", Model.MemberContacts)
    </div>
    <div class="mt-4">
        <h2>Address Information</h2>
        <hr />
        @Html.Partial("_ListOfAddress", Model.Addresses)
    </div>
    <div class="mt-4">
        <h2>Industry Information</h2>
        <hr />
        @Html.Partial("_IndustryInfo", Model.MemberIndustries)
    </div>
</div>
<div class="form-group text-center">
    @if (Model?.ID != null)
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    }
    <a class="btn btn-secondary ml-2" asp-action="Index">Back to Members</a>
</div>