@model IEnumerable<CRMProject.Models.Member>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Member Index";
}
<!-- Custom styles for this template-->
<link href="~/customs/css/style.css" rel="stylesheet">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h1 mb-0 text-gray-1400">Member Index</h1>
    <a asp-action="Create" class="btn btn-primary btn-lg">
        <i class="fas fa-plus"></i> Add New
    </a>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MemberName)</th>
            <th>@Html.DisplayNameFor(model => model.MemberSize)</th>
            <th>@Html.DisplayNameFor(model => model.MemberStatus)</th>
            <th>@Html.DisplayNameFor(model => model.MemberAccountsPayableEmail)</th>
            <th>@Html.DisplayNameFor(model => model.MemberStartDate)</th>
            <th>@Html.DisplayNameFor(model => model.MemberEndDate)</th>
            <th>@Html.DisplayNameFor(model => model.MemberNotes)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MemberName)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberSize)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberStatus)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberAccountsPayableEmail)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberStartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberNotes)</td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-md">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-md">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-md">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


