@model CRMProject.Models.Opportunity

@{
    ViewData["Title"] = "Edit";
}
@* <!-- Display Success or Error Messages --> *@
@* @if (TempData["SuccessMessage"] != null) *@
@* { *@
@*     <div class="alert alert-success" role="alert"> *@
@*         @TempData["SuccessMessage"] *@
@*     </div> *@
@* } *@

@* @if (TempData["ErrorMessage"] != null) *@
@* { *@
@*     <div class="alert alert-danger" role="alert"> *@
@*         @TempData["ErrorMessage"] *@
@*     </div> *@
@* } *@


<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["SuccessMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["ErrorMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
}

<div class="col-12">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2>Edit - @Html.DisplayFor(model => model.OpportunityName)</h2>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="ID" />

                <div class="row">
                    <!-- Opportunity Name -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="OpportunityName" class="control-label">Opportunity Name</label>
                            <span class="text-danger">*</span>
                            <input asp-for="OpportunityName" class="form-control" />
                            <span asp-validation-for="OpportunityName" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Opportunity Status -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="OpportunityStatus" class="control-label">Status</label>
                            <span class="text-danger">*</span>
                            <select asp-for="OpportunityStatus" class="form-control"
                                    asp-items="Html.GetEnumSelectList<OpportunityStatus>()">
                                <option value="">Select a Opportunity Status </option>
                            </select>
                            <span asp-validation-for="OpportunityStatus" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Opportunity Priority -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="OpportunityPriority" class="control-label">Priority</label>
                            <select asp-for="OpportunityPriority" class="form-control">
                                <option value="">Select Priority</option>
                                <option value="High">High</option>
                                <option value="Low">Low</option>
                            </select>
                            <span asp-validation-for="OpportunityPriority" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Opportunity Action -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="OpportunityAction" class="control-label">Action</label>
                            <span class="text-danger">*</span>
                            <input asp-for="OpportunityAction" class="form-control" />
                            <span asp-validation-for="OpportunityAction" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Opportunity Contact -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>Select Contacts</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <span class="control-label">Available Contacts</span>
                                    <button type="button" id="btnAddMembership" class="btn btn-primary btn-sm"><strong>+</strong></button>
                                    @Html.ListBox("availableContact", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                                </div>

                                <div class="form-group col-md-6">
                                    <span class="control-label">Selected Contacts</span>
                                    <button type="button" id="btnRemoveContact" class="btn btn-danger btn-sm"><strong>-</strong></button>
                                    @Html.ListBox("selectedContact", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Opportunity Last Contact Date -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="OpportunityLastContactDate" class="form-label">Last Contact Date</label>
                            <span class="text-danger">*</span>
                            <input asp-for="OpportunityLastContactDate" type="date" class="form-control" required
                                   max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="OpportunityLastContactDate" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Opportunity Interactions -->
                    <div class="col-12 mb-3">
                        <label asp-for="OpportunityInteractions" class="form-label">Interactions</label>
                        <span class="text-danger">*</span>
                        <textarea asp-for="OpportunityInteractions" class="form-control" rows="3" required></textarea>
                        <span asp-validation-for="OpportunityInteractions" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save Opportunity" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to Opportunities</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
