@model CRMProject.Models.Cancellation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details - " + Model?.CancellationReason;
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div>
                <h1>Cancellation Information</h1>
                <hr />

                <dl class="row">
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CancellationDate)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.CancellationDate, "{0:yyyy-MM-dd}")</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CancellationReason)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.CancellationReason)</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Member)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Member.MemberName)</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CancellationNotes)</dt>
                    <dd class="col-sm-10">
                        <textarea class="form-control" readonly>@Model.CancellationNotes</textarea>
                    </dd>


                </dl>
            </div>

            <div class="form-group text-center">
                @if (Model?.ID != null)
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.ID">Edit Cancellation</a>
                }
                <a class="btn btn-secondary ml-2" asp-action="Index">Back to Cancellations</a>
            </div>
        </div>
    </div>
</div>
