@model IEnumerable<CRMProject.Models.Contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contacts";
}

@* <!-- Display Success or Error Messages --> *@
@* @if (TempData["SuccessMessage"] != null) *@
@* { *@
@*     <div class="alert alert-success" role="alert"> *@
@*         @TempData["SuccessMessage"] *@
@*     </div> *@
@* } *@

@* @if (TempData["ErrorMessage"] != null) *@
@* { *@
@*     <div class="alert alert-danger" role="alert"> *@
@*         @TempData["ErrorMessage"] *@
@*     </div> *@
@* } *@


<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["SuccessMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["ErrorMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
}

<!-- Custom styles for this template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- Custom styles for this template-->
<link href="~/customs/css/style.css" rel="stylesheet">
<link href="~/theme/css/custom-colors.css" rel="stylesheet">

<div class="col-12">
    <div class="card">
        <div class="card-body">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="mb-0 text-gray-1400" style="font-size: 1.75rem;">Contacts</h1>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Create" class="btn btn-primary btn-lg ">
                        <i class="fas fa-plus"></i>Add Contact
                    </a>
                }
            </div>


            <form asp-action="Index" method="get">
                <div class="form-horizontal">
                    <button class="btn btn-outline-primary  @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                            data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                        Filter/Search @ViewData["numberFilters"]
                    </button><br />
                    <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
                        <div class="card card-body bg-light">
                            <div class="row">
                                <!-- Filter by First Name -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">Filter by First Name:</label>
                                    @Html.TextBox("FirstName", null, new { @class = "form-control", placeholder = "Enter first name" })
                                </div>

                                <!-- Filter by Last Name -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">Filter by Last Name:</label>
                                    @Html.TextBox("LastName", null, new { @class = "form-control", placeholder = "Enter last name" })
                                </div>

                                <!-- Filter by Phone -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">Filter by Phone:</label>
                                    @Html.TextBox("ContactPhone", null, new { @class = "form-control", placeholder = "Enter phone number" })
                                </div>

                                <!-- Filter by Title/Role -->
                                <div class="form-group col-md-4">
                                    <label class="control-label">Filter by Title/Role:</label>
                                    @Html.TextBox("ContactTitleRole", null, new { @class = "form-control", placeholder = "Enter title or role" })
                                </div>

                                <!-- Filter Actions -->
                                <div class="form-group col-md-4 align-self-end">
                                    <button type="submit" name="actionButton"
                                            class="btn btn-outline-primary @(string.IsNullOrEmpty(ViewData["numberFilters"]?.ToString()) ? "btn-outline-primary" : "btn-danger")">
                                        Filter @ViewData["numberFilters"]
                                    </button>
                                    <a asp-action="Index" class="btn btn-outline-primary">Clear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MemberContacts)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().OpportunityContacts)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Summary)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactTitleRole)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PhoneFormatted)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactEmailAddress)</th>
                                <th style="width: 170px; text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="8" class="text-center">No contacts available.</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <!-- For Member Contacts cell -->
                                        <td>
                                            @if (item.MemberContacts != null && item.MemberContacts.Any())
                                            {
                                                var contacts = item.MemberContacts.Select(c => c.Member.MemberName).Distinct().ToList(); // Remove duplicates
                                                var specCount = contacts.Count;
                                                var collapseId = $"collapseSpecalty{item.ID}";
                                                var fullMemberNames = string.Join(", ", contacts); // Full member names for export

                                                <!-- Hidden span to store full member names for export -->
                                                <span class="export-member-data" style="display:none;">@fullMemberNames</span>

                                                <span>

                                                    <a href="javascript:void(0);" class="role-button"
                                                       data-bs-target="#@collapseId">

                                                        Members (@specCount)
                                                        <i class="bi bi-chevron-down" id="arrowSpec@(item.ID)"></i>
                                                    </a>
                                                    <div class="collapse mt-2" id="@collapseId" data-item-id="@item.ID">
                                                        <ul class="list-unstyled">
                                                            @foreach (var contact in contacts)
                                                            {
                                                                <li>@contact</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </span>
                                            }
                                        </td>

                                        <!-- For Opportunity Contacts cell -->
                                        <td>
                                            @if (item.OpportunityContacts != null && item.OpportunityContacts.Any())
                                            {
                                                var opportunities = item.OpportunityContacts.Select(o => o.Opportunity.OpportunityName).Distinct().ToList(); // Remove duplicates
                                                var opportunityCount = opportunities.Count;
                                                var collapseId = $"collapseOpportunity{item.ID}";
                                                var fullOpportunityNames = string.Join(", ", opportunities); // Full opportunity names for export

                                                <!-- Hidden span to store full opportunity names for export -->
                                                <span class="export-opportunity-data" style="display:none;">@fullOpportunityNames</span>

                                                <span>

                                                    <a href="javascript:void(0);" class="role-button"
                                                       data-bs-target="#@collapseId">


                                                        Opportunities (@opportunityCount)
                                                        <i class="bi bi-chevron-down" id="arrowOpportunity@(item.ID)"></i>
                                                    </a>
                                                    <div class="collapse mt-2" id="@collapseId" data-item-id="@item.ID">
                                                        <ul class="list-unstyled">
                                                            @foreach (var opportunity in opportunities)
                                                            {
                                                                <li>@opportunity</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </span>
                                            }
                                        </td>




                                        <td>@Html.DisplayFor(modelItem => item.Summary)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ContactTitleRole)</td>
                                        <td style="white-space: nowrap;">
                                            @if (!string.IsNullOrEmpty(item.PhoneFormatted) && item.PhoneFormatted.Length >= 10)
                                            {
                                                <a href="@item.PhoneFormatted" target="_blank">@item.PhoneFormatted</a>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </td>

                                        <td>
                                            @if (!string.IsNullOrEmpty(item.ContactEmailAddress))
                                            {
                                                <a href="@item.ContactEmailAddress" target="_blank">@item.ContactEmailAddress</a>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="btn-group" style="float: none; ">
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
                                                    data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a>
                                                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
                                                       role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
                                                        <i class="bi bi-search"></i>
                                                    </a>
                                                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
                                                    data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
                                                   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
                                                    <i class="bi bi-search"></i>
                                                </a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form asp-action="Index" method="get">
                <partial name="_PagingNavBar" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>


}

