@model IEnumerable<CRMProject.Models.MemberContact>
<br />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">Contact Information</h4>
	</div>
	<div class="panel-body scrollable-panel">
		@if (Model.Any()) // Check if the model has any data to avoid errors
		{
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Contact.Summary)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Contact.ContactTitleRole)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Contact.PhoneFormatted)
					</th>
					@* <th> *@
					@* 	@Html.DisplayNameFor(model => model.Contact.ContactEmailAddress) *@
					@* </th> *@
					@* 	<th> *@
					@* 		@Html.DisplayNameFor(model => model.Contact.ContactWebsite) *@
					@* 	</th> *@
					
					<th>
						Email Type
					</th>

					<th style="float: right; padding-left: 10%;">
						<a asp-controller="Contact" asp-action="Create" >
							<span class="btn btn-success" data-bs-toggle="tooltip"
								  title="Add Contact"><strong>&#x271A; Add</strong></span>
						</a>
					</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<a asp-action="Details" asp-controller="Contact" asp-route-ID="@item.ContactID">
								@Html.DisplayFor(modelItem => item.Contact.Summary)
							</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Contact.ContactTitleRole)
						</td>
						<td>
							<a href="@item.Contact.PhoneFormatted" target="_blank">@item.Contact.PhoneFormatted</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Contact.ContactEmailAddress)
						</td>
						@* 	<td> *@
						@* 		@Html.DisplayFor(modelItem => item.Contact.ContactWebsite) *@
						@* 	</td> *@
						@* <td> *@
						@* 	@Html.DisplayFor(modelItem => item.Contact.ContactEmailType) *@
						@* </td> *@

						<td style="float: right; padding-left: 10%;">
							<div class="btn-group">
								<a asp-action="Edit" asp-controller="Contact" asp-route-ID="@item.ContactID" 
								   class="btn btn-md btn-outline-primary" role="button" aria-disabled="false"
								   data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
									<i class="bi bi-pencil-square"></i>
								</a>

								<a asp-action="Details" asp-controller="Contact" asp-route-ID="@item.ContactID"  
								class="btn btn-md btn-outline-primary"
								   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
									<i class="bi bi-search"></i>
								</a>

								<a asp-action="Delete" asp-controller="Contact" asp-route-ID="@item.ContactID"  class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
								   data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
									<i class="bi bi-archive-fill"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
		}
		else
		{
		<p class="text-muted">No contact found.</p>
		}
	</div>
</div>
