@model IEnumerable<CRMProject.Models.MemberMembershipType>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="panel-title">Membership Type Information</h4>
            <p>Membership Type Count: @Model.Count()</p>
        </div>
        
        
    </div>
    <div class="panel-body scrollable-panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeBenefits)
                    </th>
                    <th style="float: right; padding-left: 10%;">
                        <a asp-controller="MembershipType" asp-action="Create" asp-route-memberId="@ViewData["MemberId"]">
                            <span class="btn btn-success" data-bs-toggle="tooltip" title="Add Address">
                                <strong><i class="fa-solid fa-plus"></i> Add</strong>
                            </span>
                        </a>
                    </th>

                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="MembershipType" asp-route-ID="@item.MembershipTypeID">
                                @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeBenefits)
                        </td>
                        <td style="float: right; padding-left: 10%;">
                            <div class="btn-group">
                                <a asp-action="Edit" class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
                                   data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                                    <i class="bi bi-pencil-square"></i>
                                </a>

                                <a asp-action="Details" class="btn btn-md btn-outline-primary"
                                   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
                                    <i class="bi bi-search"></i>
                                </a>

                                <a asp-action="Delete" class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
                                   data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                                    <i class="bi bi-archive-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
