@model IEnumerable<CRMProject.Models.MemberMembershipType>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="card">
    <div class="card-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="panel-title"><strong>Membership Type Information</strong></h4>
                    @if (User.IsInRole("Super") || User.IsInRole("Admin"))
                    {
                        <a asp-controller="Member" asp-action="Edit" asp-route-ID="@ViewData["MemberId"]">
                            <button class="btn btn-primary" data-bs-toggle="tooltip" title="Add Membership Type">
                                <strong><i class="fa-solid fa-plus"></i> Add</strong>
                            </button>
                        </a>
                    }
                </div>
            </div>
            <div class="panel-body scrollable-panel">
                <div class="table-responsive">
                    <table class="table table-striped">
                        @if (Model.Any())
                        {
                            <thead class="table-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeName)
                                    </th>
                                    <th class="d-none d-sm-table-cell">
                                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeDescription)
                                    </th>

                                    <th class="d-none d-sm-table-cell">
                                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeBenefits)
                                    </th>
                                    <th class="d-none d-sm-table-cell">
                                        @Html.DisplayNameFor(model => model.First().MembershipType.MembershipTypeFee)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-controller="MembershipType" asp-route-ID="@item.MembershipTypeID">
                                                @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeName)
                                            </a>
                                        </td>
                                        <td class="d-none d-sm-table-cell">
                                            @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeDescription)
                                        </td>

                                        <td class="d-none d-sm-table-cell">
                                            @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeBenefits)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeFee)
                                        </td>

                                        @*  <td class="d-none d-sm-table-cell" style="float: right;">
                                <div class="btn-group">
                                    <a asp-action="Edit" asp-controller="Member" asp-route-ID="@ViewData["MemberId"]"
                                       class="btn btn-md btn-outline-primary" role="button" aria-disabled="false"
                                       data-bs-toggle="tooltip" title="Edit Membership">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    <a asp-action="Details" asp-controller="MembershipType" asp-route-ID="@item.MembershipTypeID"
                                       class="btn btn-md btn-outline-primary" role="button" aria-disabled="false"
                                       data-bs-toggle="tooltip" title="Membership Details">
                                        <i class="bi bi-search"></i>
                                    </a>
                                    <a asp-action="Delete" asp-controller="MembershipType" asp-route-ID="@item.MembershipTypeID"
                                       class="btn btn-md btn-outline-primary" role="button" aria-disabled="false"
                                       data-bs-toggle="tooltip" title="Delete Membership">
                                        <i class="bi bi-archive-fill"></i>
                                    </a>                                  
                                </div>
                            </td> *@
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td class="text-muted text-center">No Membership Types found.</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
