@model CRMProject.Models.Member

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Activate";
}

@* <!-- Display Success or Error Messages --> *@
@* @if (TempData["SuccessMessage"] != null) *@
@* { *@
@*     <div class="alert alert-success" role="alert"> *@
@*         @TempData["SuccessMessage"] *@
@*     </div> *@
@* } *@

@* @if (TempData["ErrorMessage"] != null) *@
@* { *@
@*     <div class="alert alert-danger" role="alert"> *@
@*         @TempData["ErrorMessage"] *@
@*     </div> *@
@* } *@

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["SuccessMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["ErrorMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
}

<!-- Custom styles for this template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- Custom styles for this template-->
@* <link href="~/customs/css/style.css" rel="stylesheet"> *@
@* <link href="~/theme/css/custom-colors.css" rel="stylesheet"> *@

<form asp-action="Activate" method="post" class="d-inline">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div>
                <h2>Activate - @Html.DisplayFor(model => model.MemberName)</h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberName)</dt>
                    <dd class="col-sm-10 col-md-9">@Html.DisplayFor(model => model.MemberName)</dd>

                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberSize)</dt>
                    <dd class="col-sm-10 col-md-9">@Html.DisplayFor(model => model.MemberSize)</dd>

                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberStatus)</dt>
                    <dd class="col-sm-10 col-md-9">@Html.DisplayFor(model => model.MemberStatus)</dd>

                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberAccountsPayableEmail)</dt>
                    <dd class="col-sm-10 col-md-9">@Html.DisplayFor(model => model.MemberAccountsPayableEmail)</dd>

                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberStartDate)</dt>
                    <dd class="col-sm-10 col-md-9">@Model.MemberStartDate.ToString("yyyy-MM-dd")</dd>

                    @* <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberEndDate)</dt>
                    <dd class="col-sm-10 col-md-9">@Model.MemberEndDate?.ToString("yyyy-MM-dd")</dd> *@

                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberLastContactDate)</dt>
                    <dd class="col-sm-10 col-md-9">@Model.MemberLastContactDate?.ToString("yyyy-MM-dd")</dd>

                    <dt class="col-sm-2 col-md-3">@Html.DisplayNameFor(model => model.MemberNotes)</dt>
                    <dd class="col-sm-10 col-md-9">
                        <textarea class="form-control" rows="4" readonly>@Model.MemberNotes</textarea>
                    </dd>

                    @Html.Partial("_DetailStatusHistory", new StatusHistory())
                     
                </dl>

                <div class="form-group text-center">     
                    <h3>Are you sure you want to activate this membership?</h3>
                        <input type="hidden" asp-for="ID" />
                        <button type="submit" class="btn btn-danger">Activate Member</button>
                        <a class="btn btn-secondary ml-2" asp-action="Index">Back to Members</a>                    
                </div>
            </div>
        </div>
    </div>
</div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
         function toggleTextName(itemId) {
            var moreText = document.getElementById("moreTextName" + itemId);
            var readMore = document.getElementById("readMoreName" + itemId);

            // Toggle member name text
            if (moreText.style.display === "none") {
                moreText.style.display = "inline";
                readMore.innerHTML = " Read less";
            } else {
                moreText.style.display = "none";
                readMore.innerHTML = "... ";
            }
        }

        function toggleTextCity(itemId) {
            var moreText = document.getElementById("moreTextCity" + itemId);
            var readMore = document.getElementById("readMoreCity" + itemId);

            // Toggle member name text
            if (moreText.style.display === "none") {
                moreText.style.display = "inline";
                readMore.innerHTML = " Read less";
            } else {
                moreText.style.display = "none";
                readMore.innerHTML = "... ";
            }
        }

        function toggleTextIndustry(itemId) {
            var moreText = document.getElementById("moreTextIndustry" + itemId);
            var readMore = document.getElementById("readMoreIndustry" + itemId);

            // Toggle industry text
            if (moreText.style.display === "none") {
                moreText.style.display = "inline";
                readMore.innerHTML = " Read less";
            } else {
                moreText.style.display = "none";
                readMore.innerHTML = "... ";
            }
        }
    </script>
    <script>
        function toggleIndustry(id) {
            var countSpan = document.getElementById("industryCount" + id);
            var collapseElement = document.getElementById("collapseIndustry" + id);

            if (collapseElement.classList.contains("show")) {
                countSpan.style.display = "inline"; // Show the count when collapsed
            } else {
                countSpan.style.display = "none"; // Hide the count when expanded
            }
        }
    </script>
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}