@model CRMProject.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="col-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2><strong>Edit - @Html.DisplayFor(model => model.MemberName)</strong></h2>
        </div>
        <div class="card-body">
            @{
                var hasPicture = (Model.MemberPhoto?.Content != null && Model?.MemberPhoto?.MimeType != null);
                if (hasPicture)
                {
                    string imageBase64 = Convert.ToBase64String(Model.MemberPhoto.Content);
                    string imageSrc = string.Format("data:{0};base64,{1}", Model.MemberPhoto.MimeType, imageBase64);
                    <img src="@imageSrc" alt="Profile Picture" class="img-fluid rounded" style="max-height: 300px; width: 100px;" />
                }
            }           
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="ID" />

                <!-- Remove Image Checkbox -->
                @if (hasPicture)
                {
                    <div class="row">
                        <div class="form-check m-3">
                            <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                            <label class="form-check-label" for="chkRemoveImage">
                                <strong>Check to remove Image</strong>
                            </label>
                        </div>
                    </div>
                }
                <!-- Member Information Section -->
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Member Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Member Name -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="MemberName" class="control-label">
                                        <span class="text-danger">*</span> Member Name
                                    </label>
                                    <input asp-for="MemberName" class="form-control" id="MemberName" name="MemberName" required />
                                    <span asp-validation-for="MemberName" class="text-danger"></span>
                                </div>
                                <!-- Member Size -->
                                <div class="form-group">
                                    <label asp-for="MemberSize" class="control-label">
                                        <span class="text-danger"></span> Member Size
                                    </label>
                                    <input asp-for="MemberSize" class="form-control" min="0" onkeydown="return event.keyCode !== 189;" />
                                    <span asp-validation-for="MemberSize" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Member Status -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="MemberStatus" class="control-label">
                                        <span class="text-danger">*</span> Member Status
                                    </label>
                                    <select asp-for="MemberStatus" class="form-control">
                                        <option value="@CRMProject.Models.MemberStatus.GoodStanding">Good Standing</option>
                                        <option value="@CRMProject.Models.MemberStatus.OverduePayment">Overdue Payment</option>
                                    </select>
                                    <span asp-validation-for="MemberStatus" class="text-danger"></span>
                                </div>
                                <!-- Accounts Payable Email -->
                                <div class="form-group">
                                    <label asp-for="MemberAccountsPayableEmail" class="control-label">
                                        <span class="text-danger">*</span> A/P Email
                                    </label>
                                    <input asp-for="MemberAccountsPayableEmail" class="form-control" />
                                    <span asp-validation-for="MemberAccountsPayableEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Member Start Date -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="MemberStartDate" class="control-label">
                                        <span class="text-danger">*</span> Start Date
                                    </label>
                                    <input asp-for="MemberStartDate" type="date" class="form-control" />
                                    <span asp-validation-for="MemberStartDate" class="text-danger"></span>
                                </div>
                                <!-- Member Last Contacted -->
                                <div class="form-group">
                                    <label asp-for="MemberLastContactDate" class="control-label"></label>
                                    <input asp-for="MemberLastContactDate" type="date" class="form-control" id="MemberLastContactDate" />
                                    <span asp-validation-for="MemberLastContactDate" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Member End Date -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="MemberEndDate" class="control-label"></label>
                                    <input asp-for="MemberEndDate" type="date" class="form-control" />
                                    <span asp-validation-for="MemberEndDate" class="text-danger"></span>
                                </div>
                                <!-- Member Notes -->
                                <div class="form-group">
                                    <label asp-for="MemberNotes" class="control-label"></label>
                                    <textarea asp-for="MemberNotes" class="form-control" id="MemberNotes" name="MemberNotes"></textarea>
                                    <span asp-validation-for="MemberNotes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Membership Types -->
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Select Membership Types</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="control-label">Available Membership Types</span>
                                <button type="button" id="btnAddMembership" class="btn btn-primary btn-sm"><strong>+</strong></button>
                                @Html.ListBox("availableMembership", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                            </div>

                            <div class="form-group col-md-6">
                                <span class="control-label">Selected Membership Types</span>
                                <button type="button" id="btnRemoveMembership" class="btn btn-danger btn-sm"><strong>-</strong></button>
                                @Html.ListBox("selectedMembership", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Industries -->
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Select Industries</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-md-6">
                                <span class="control-label">Available Industry Types</span>
                                <button type="button" id="btnAddIndustry" class="btn btn-primary btn-sm"><strong>+</strong></button>
                                @Html.ListBox("availableIndustry", (MultiSelectList)ViewBag.availOptsIndus, new { @size = 10, @class = "form-control" })
                            </div>

                            <div class="form-group col-md-6">
                                <span class="control-label">Selected Industry Types</span>
                                <button type="button" id="btnRemoveIndustry" class="btn btn-danger btn-sm"><strong>-</strong></button>
                                @Html.ListBox("selectedIndustry", (MultiSelectList)ViewBag.selOptsIndus, new { @size = 10, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Picture Upload -->
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <span>Picture File:</span>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="thePicture" id="thePicture">
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save Member" id="btnSubmit" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to Members</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/multiselect.js"></script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        // Disable the negative sign "-" from being typed
        document.querySelector('input[name="MemberSize"]').addEventListener('keydown', function(event) {
            if (event.key === "-" || event.keyCode === 189) {
                event.preventDefault();
            }
        });
    </script>
}