@model CRMProject.Models.Opportunity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Opportunity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityLastContactDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityLastContactDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityInteractions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpportunityInteractions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
