@model IEnumerable<CRMProject.Models.Opportunity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityLastContactDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityInteractions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityLastContactDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpportunityInteractions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
