@model IEnumerable<CRMProject.Models.Address>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Address Index";
}

<!-- Custom styles for this template-->
<link href="~/customs/css/style.css" rel="stylesheet">

<div class="col-12">
    <div class="card">
        <div class="card-body">
          
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-1400">Address</h1>
                <a asp-action="Create" class="btn btn-primary btn-lg">
                    <i class="fas fa-plus"></i> Add Address
                </a>
            </div>

            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Member)</th>
                                <th>@Html.DisplayNameFor(model => model.Summary)</th>
                                <th>@Html.DisplayNameFor(model => model.AddressCity)</th>
                                <th>@Html.DisplayNameFor(model => model.Province)</th>
                                <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
                                <th>@Html.DisplayNameFor(model => model.AddressType)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Member.MemberName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Summary)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddressCity)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Province)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PostalCode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddressType)</td>                                    
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
                                               role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>

                                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
                                               role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
                                                <i class="bi bi-search"></i>
                                            </a>

                                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
                                               role="button" data-bs-toggle="tooltip" title="Archive @ViewData["ControllerFriendlyName"]">
                                                <i class="bi bi-archive-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}