@model IEnumerable<CRMProject.Models.Contact>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Contacts";
}

<!-- Custom styles for this template-->
<link href="~/customs/css/style.css" rel="stylesheet">

<div class="col-12">
	<div class="card">
		<div class="card-body">
		
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h1 mb-0 text-gray-1400">Contacts</h1>
				<a asp-action="Create" class="btn btn-primary btn-lg">
					<i class="fas fa-plus"></i> Add Contact
				</a>
			</div>

			<div class="card">
				<!-- /.card-header -->
				<div class="card-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead class="table-light">
							<tr>
								<th>@Html.DisplayNameFor(model => model.FirstOrDefault().MemberContacts)</th>
								<th>@Html.DisplayNameFor(model => model.FirstOrDefault().Summary)</th>
								<th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactTitleRole)</th>
								<th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactPhone)</th>
								<th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactEmails)</th>
								@* <th>Email Type</th> *@
								<th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactWebsite)</th>
								@* <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ContactInteractions)</th> *@
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@if (!Model.Any())
							{
								<tr>
									<td colspan="8" class="text-center">No contacts available.</td>
								</tr>
							}
							else
							{
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@foreach (var m in item.MemberContacts)
											{
												<div>@Html.DisplayFor(modelItem => m.Member.MemberName)</div>
											}
										</td>
										<td>@Html.DisplayFor(modelItem => item.Summary)</td>
										<td>@Html.DisplayFor(modelItem => item.ContactTitleRole)</td>
										<td style="white-space: nowrap;">
											@if (!string.IsNullOrEmpty(item.ContactPhone) && item.ContactPhone.Length >= 10)
											{
												<a href="tel:@item.ContactPhone">
													@("(" + item.ContactPhone.Substring(0, 3) + ") " + item.ContactPhone.Substring(3, 3) + "-"
																							+ item.ContactPhone.Substring(6, 4))
												</a>
											}
											else
											{
												<span>N/A</span>
											}
										</td>
										<td>
											@foreach (var ce in item.ContactEmails)
											{
												@if (!string.IsNullOrEmpty(ce.EmailAddress))
												{
													<div>@Html.DisplayFor(modelItem => ce.EmailAddress)</div>
												}
												else
												{
													<span>N/A</span>
												}
											}
										</td>
										@* <td> *@
										@* 	@foreach (var ce in item.ContactEmails) *@
										@* 	{ *@
										@* 		@if (!string.IsNullOrEmpty(ce.EmailAddress)) *@
										@* 		{ *@
										@* 			<div>@Html.DisplayFor(modelItem => ce.EmailType)</div> *@
										@* 		} *@
										@* 		else *@
										@* 		{ *@
										@* 			<span>N/A</span> *@
										@* 		} *@
										@* 	} *@
										@* </td> *@
										<td>
											@if (!string.IsNullOrEmpty(item.ContactWebsite))
											{
												<a href="@item.ContactWebsite" target="_blank">@item.ContactWebsite</a>
											}
											else
											{
												<span>N/A</span>
											}
										</td>
										@* <td>@Html.DisplayFor(modelItem => item.ContactInteractions)</td> *@
										<td>
											<div class="btn-group">
												<a class="btn btn-md btn-outline-primary disabled" role="button" aria-disabled="true"
												   style="opacity: 0.4; filter: grayscale(80%); border: 2px dashed #3B54A0; pointer-events: none;"
												   data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
													<i class="bi bi-pencil-square"></i>
												</a>

												<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
												   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
													<i class="bi bi-search"></i>
												</a>

												<a class="btn btn-md btn-outline-primary disabled" role="button" aria-disabled="true"
												   style="opacity: 0.4; filter: grayscale(80%); border: 2px dashed #3B54A0; pointer-events: none;"
												   data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
													<i class="bi bi-archive-fill"></i>
												</a>
											</div>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


