@model CRMProject.Models.Address

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details - Address";
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h2>Address Information</h2>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AddressLine1)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AddressLine2)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AddressCity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AddressCity)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Province)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Province)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Member)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Member.MemberName)
                </dd>
            </dl>

            <div class="form-group text-center">
                @if (Model?.ID != null)
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.ID">Edit Address</a>
                }
                <a class="btn btn-secondary ml-2" asp-controller="Member" asp-action="Details" asp-route-id="@Model.MemberID">Back to @Model.Member.MemberName</a>


            </div>
        </div>
    </div>
</div>
