@model IEnumerable<CRMProject.Models.Industry>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Industry Index";
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Custom styles for this template-->
<link href="~/customs/css/style.css" rel="stylesheet">

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <!-- Header Section -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-1400">Industries</h1>
                <a asp-action="Create" class="btn btn-primary btn-lg ">
                    <i class="fas fa-plus"></i> Add Industry
                </a>
            </div>

            <form asp-action="Index" method="get">
                <div class="form-horizontal">
                    <div class="row">
                        <!-- Filter by Industry Sector -->
                        <div class="form-group col-md-4">
                            <label class="control-label">Filter by Industry Sector:</label>
                            @Html.TextBox("IndustrySector", null, new { @class = "form-control", placeholder = "Enter industry sector" })
                        </div>

                        <!-- Filter by Industry Subsector -->
                        <div class="form-group col-md-4">
                            <label class="control-label">Filter by Industry Subsector:</label>
                            @Html.TextBox("IndustrySubsector", null, new { @class = "form-control", placeholder = "Enter subsector" })
                        </div>

                        <!-- Filter by NAICS Code -->
                        <div class="form-group col-md-4">
                            <label class="control-label">Filter by NAICS Code:</label>
                            @Html.TextBox("IndustryNAICSCode", null, new { @class = "form-control", placeholder = "Enter NAICS code" })
                        </div>                                               

                        <!-- Filter Actions -->
                        <div class="form-group col-md-4 align-self-end">
                            <button type="submit" name="actionButton"
                                    class="btn @(string.IsNullOrEmpty(ViewData["numberFilters"]?.ToString()) ? "btn-outline-primary" : "btn-danger")">
                                Filter @ViewData["numberFilters"]
                            </button>
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>
                    </div>
                </div>
            </form>


            <div class="card">
                <!-- Table Section -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MemberIndustries)</th>
                                <th>@Html.DisplayNameFor(model => model.IndustrySector)</th>
                                <th class="d-none d-sm-table-cell">@Html.DisplayNameFor(model => model.IndustrySubsector)</th>
                                <th>@Html.DisplayNameFor(model => model.IndustryNAICSCode)</th>                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="4" class="text-center">No industries available.</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                int industryCount = item.MemberIndustries.Count;
                                                if (industryCount > 0)
                                                {
                                                    string firstIndustry = item.MemberIndustries.FirstOrDefault().Member.MemberName;
                                                    if (industryCount > 1)
                                                    {
                                                        string industryList = ""; // Html string of industry names separated by <br /> tags
                                                        var industries = item.MemberIndustries.ToList();
                                                        for (int i = 1; i < industryCount; i++) // Skip the first because we have it already
                                                        {
                                                            industryList += industries[i].Member.MemberName + " <br />";
                                                        }
                                                        <a data-bs-toggle="collapse" href="#collapseIndustry@(item.ID)" aria-expanded="false" aria-controls="collapseIndustry@(item.ID)">
                                                            @firstIndustry <span class="badge bg-info">@industryCount</span>
                                                        </a>
                                                        <div class="collapse" id="collapseIndustry@(item.ID)">
                                                            @Html.Raw(industryList)
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @firstIndustry
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.IndustrySector)</td>
                                        <td class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem => item.IndustrySubsector)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IndustryNAICSCode)</td>                                        
                                        <td>
                                            <div class="btn-group" style="float: none; ">
                                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
                                                   data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>

                                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary"
                                                   role="button" data-bs-toggle="tooltip" title="Details @ViewData["ControllerFriendlyName"]">
                                                    <i class="bi bi-search"></i>
                                                </a>

                                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-md btn-outline-primary " role="button" aria-disabled="false"
                                                   data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                                                    <i class="bi bi-archive-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
